:root {
  --primary-color: #DFDDDC;
  --secondary-color: #B0A4A4;
  --tertiary-color: #F7F1EE; 
  --quaternary-color: #C6033F;
  --bor: 1px solid black;
}

body {
  background-color: var(--primary-color);
}

.app {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  
  text-align: center;
}

