.order-item {
    background-color: var(--tertiary-color);
}

.order-item img {
    width: 25%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .order-item {
        font-size: .8rem;
    }
    
    .order-item img {
        width: 75px;
        height: auto;
    }
}