.header {
    background-color: var(--secondary-color);
    border-bottom: 2px solid gray;
}

/* .nav {
    justify-content: center;
} */

.nav-link {
    color: var(--tertiary-color);
}

.nav-link:hover {
    color: white;
}
